body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
}

/* Main content */

.main-content {
  padding-top: 88px;
  padding-bottom: 88px;
  padding-left: 88px;
  padding-right: 88px;
}

/* About me */

.my-profession {
  margin-bottom: 18px;
}

h2 {
  font-size: 35px;
}

.project-item {
  background-color: pink;
}

/* Sidebar */
.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts  */

.contacts-container {
  margin-top: 48px;
  margin-left: 40px;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

/* Tech-Skills  */

.tech-skills-container {
  margin-top: 48px;
  margin-left: 40px;
}

.tech-skills-list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

/* Soft Skills  */

.soft-skills-container {
  margin-top: 48px;
  margin-left: 40px;
}

.soft-skills-list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

/* Soft + Tech skills (li) */

.skills-list-item {
  color: #6d9bf5;
}

/* Soft + Tech skills (text) */

.skills-list-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
