body {
	background-color: #e5e5e5;
}

/* Main content */

.main-content {
	padding-top: 88px;
}

/* About me */

.my-profession {
	margin-bottom: 18px;
}

h2 {
	font-size: 35px;
}

.project-item {
	background-color:pink
}