body {
	font-family: 'Montserrat', sans-serif;
	background-color: #e5e5e5;
	padding: 40px;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	background: #fff;
	width: 1200px;
	margin: 0 auto;
}

/* Main content */

.main-content {
	padding-top: 88px;
	padding-bottom: 88px;
	padding-left: 88px;
	padding-right: 88px;
}

/* About me */

.my-profession {
	margin-bottom: 18px;
}

h2 {
	font-size: 35px;
}

.project-item {
	background-color:pink
}

/* Sidebar */
.sidebar {
	width: 370px;
	background: #E0EBFE;
}

.my-photo{
	margin-top: 40px;
}


.sidebar-title {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #161D2A;
	margin-bottom: 8px;
}

/* Contacts  */

.contacts-container {
	margin-top: 48px;
	margin-left: 40px;
}

.contacts-type {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #161D2A;
margin-right: 8px
}

.contacts-item {
margin: 0;
}

.contacts-tel {
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #161D2A;
}

.contacts-email {
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color:#2979FF;

}

/* Tech-Skills  */

.tech-skills-container {
	margin-top: 48px;
	margin-left: 40px;

}

/* Soft Skills  */

.soft-skills-container {
	margin-top: 48px;
	margin-left: 40px;

}